 
{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class = "jumbotron">
		<div align= 'center'>
			<h1>Welcome to the page for {{current_user.username}}</h1>

		</div>
	</div>

{% for post in posts %}

<h2><a href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">{{post.title}}</a></h2>
Post Author: <a href="{{url_for('users.user_post', username = post.author.username)}}">{{post.author.username}}</a>

<p class = 'text-muted'>Published on : {{post.posted.strftime("%Y-%m-%d")}}</p>
<br>
<p>{{post.body}}</p>
<a href="{{url_for('users.comment',id=post.id)}}" class= "btn btn-primary btn-sm"><i class="fas fa-comment"></i> Comment</a>
<br>
{% endfor %}
</div>


{% endblock %}